:root{
    --primaryColor: #ff274d;
    --secondaryColor: #f7bcf7;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;  
}
.box1{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}
.card i{
    text-align: center;
    font-size: 3.12rem;
    color: var(--primaryColor);
    margin: 2rem;
}
footer{
    padding: 0.1rem var(--padding);
    background-color: var(--bgColor-2);
}
footer .footer-co{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.footer-co i{
    text-align: center;
    font-size: 3rem;
    color: var(--primaryColor);
    margin: 1rem;
}
.footer-co h4{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    margin-bottom: 0.0rem;
}
