{% extends "static/main.html" %}
{% block body %}
            </nav>
            <div class="content1">
                <div class="container-texts1">
                    <h3><span>Thanks,</span></h></h3></br>
                    <a href="index.html" class="btn2">Home Page</a>
                </div>
            </div>
            <footer>
                <div class="footer-co" id="contact">
                    <h4>Contact Us</h4>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-regular fa-envelope"></i>
                  </div>
            </footer>
{% endblock %}